.container{
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 5px;
    position: absolute;
    margin: auto;
    top: calc(50% - 50px);

}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.container>svg{
   fill:gray;
   animation: 1s infinite spin; 
}